= javascript_include_tag :highcharts
/[if IE]= javascript_include_tag :ie_high_charts

%table

  -if locals[:last_status].present?
    %tr
      %td{:colspan => 2}
        %p= locals[:last_status].content

  -if locals[:last_kpi].present?
    %tr
      %td{:colspan => 2}
        .dashboard_section.panel
          %h3 00001773 - LGBT Case Daily Volume
          .panel_contents
            #kpi_daily_volume_graph{:style => "width: 100%; height: 350px;"}= locals[:kpi_daily_volume_graph]
            %br
            %span Period:
            %select#kpi_daily_volume_graph_period
              -{7 => "1 week", 14 => "2 weeks", 30 => "1 month", 91 => "3 months"}.each do |key, value|
                %option{:value => key, :selected => locals[:kpi_daily_volume_graph_period] == key}= value
            :javascript
              $('#kpi_daily_volume_graph_period').change(function(){
                window.location.search = '?kpi_daily_volume_graph_period=' + $(this).val();
              });


  -if locals[:last_post].present?
    %tr
      %td{:width => "50%"}
        .dashboard_section.panel
          %h3 Post sources
          .panel_contents
            #post_sources_graph{:style => "width: 100%; height: 350px;"}= locals[:post_sources_graph]
      %td{:width => "50%"}
        .dashboard_section.panel
          %h3 High priority posts
          .panel_contents
            %table.index_table
              %tr
                %th Publish date
                %th Media provider
                %th Author
                %th Content
              -locals[:high_priority_posts].each do |post|
                %tr.even
                  %td= post.publish_date.to_s
                  %td= post.media_provider
                  %td= post.author
                  %td= post.content

  -if locals[:last_post].present?
    %tr
      %td{:width => "50%"}
        .dashboard_section.panel
          %h3 Post blog sentiments
          .panel_contents
            #post_blog_sentiment_graph{:style => "width: 100%; height: 350px;"}= locals[:post_blog_sentiment_graph]
      %td{:width => "50%"}
