= javascript_include_tag :highcharts
/[if IE]= javascript_include_tag :ie_high_charts

%table

  -if locals[:last_status].present?
    %tr
      %td{:colspan => 2}
        %p= locals[:last_status].content

  -if locals[:last_kpi].present?
    %tr
      %td{:colspan => 2}
        .dashboard_section.panel
          %h3 00001773 - LGBT Case Daily Volume
          .panel_contents
            #kpi_daily_volume_graph{:style => "width: 100%; height: 350px;"}= locals[:kpi_daily_volume_graph]

  -if locals[:last_post].present?
    %tr
      %td{:colspan => 2}
        .dashboard_section.panel
          %h3 Posts per week
          .panel_contents
            #posts_per_week_graph{:style => "width: 100%; height: 350px;"}= locals[:posts_per_week_graph]

  -if locals[:last_post].present?
    %tr
      %td{:width => "50%"}
        .dashboard_section.panel
          %h3 Post sources
          .panel_contents
            #post_sources_graph{:style => "width: 100%; height: 350px;"}= locals[:post_sources_graph]
      %td{:width => "50%"}
        .dashboard_section.panel
          %h3 Post blog sentiments
          .panel_contents
            #post_blog_sentiment_graph{:style => "width: 100%; height: 350px;"}= locals[:post_blog_sentiment_graph]
